*{
	font-family: Arial Narrow;
	font-size: 20px;
	color: #fff;
}
.title > span{
	font-family: 'Pacifico', cursive;
	display: block;
	margin-right: 90px;
}
.title{
	color: #fff; 
	font-family: 'Righteous', cursive; 
	font-size: 45px; 
	font-weight: normal; 
	line-height: 30px; 
	margin: 10px 0 20px; 
	text-transform: uppercase; 
	text-shadow: 2px 2px 0 #000;
	margin: 10px 0 24px; 
	text-align: center;
}
html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#wrapper{
	background: #354343;
	border: 2px solid #cdc;
	border-radius: 5px;
	display: block;
	margin: auto;
	padding: 20px 20px 5px 20px;
	width: 325px;
	
	-webkit-box-shadow: 1px 2px 24px -2px rgba(51,102,0,1);
	-moz-box-shadow: 1px 2px 24px -2px rgba(51,102,0,1);
	box-shadow: 1px 2px 24px -2px rgba(51,102,0,1);
}
header > h1{
	text-align: center;	
	font-size: 25px;
}
hr{
	width:100%;
	height:1px;
	background-color:#777777;
}
ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}
input{
	width: 100%;
	height: 45px; 
	border-radius: 5px;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 5px;
	margin: 10px 0;
}
input[type="password"]{
	color: #000;
}
input.submit{
	background: none;
}
.submit:hover {
	color: #000;
	box-shadow: 1px 2px 24px -2px rgba(51,102,0,1) inset;
	cursor: pointer;
}
.credit{
	font-size: 12px;
	display:block;
	text-align:center;
}

/******* chat.html ********/

textarea{
	width: 100%;
	max-width: 100%;
	height: 150px; 
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 5px;
	margin: 10px 0;
}
